openapi: 3.2.0
info:
  title: Dexcom Developer Alerts API
  version: v3
  description: The Dexcom Developer API provides authorized third-party applications with read access to a Dexcom user's continuous glucose monitoring (CGM) data. Resources include estimated glucose values (EGVs), calibrations, events, alerts, devices, and data range. The API uses OAuth 2.0 authorization code flow and exposes separate sandbox and production environments.
  contact:
    name: Dexcom Developer Program
    url: https://developer.dexcom.com/
  termsOfService: https://developer.dexcom.com/terms-of-use
  x-generated-from: documentation
  x-source-url: https://developer.dexcom.com/docs/dexcomv3/endpoint-overview
  x-last-validated: '2026-05-05'
servers:
- url: https://api.dexcom.com
  description: Production (United States)
- url: https://api.dexcom.eu
  description: Production (Europe / International)
- url: https://api.dexcom.jp
  description: Production (Japan)
- url: https://sandbox-api.dexcom.com
  description: Sandbox (Development)
security:
- OAuth2: []
tags:
- name: Alerts
  description: Alert events generated by the user's CGM display device.
paths:
  /v3/users/self/alerts:
    get:
      tags:
      - Alerts
      operationId: getAlertsV3
      summary: Get Alert Events
      description: Retrieve alert events (high, low, urgent low, rise, fall, no readings, and out-of-range alerts) generated by the user's CGM display device between `startDate` and `endDate`.
      parameters:
      - $ref: '#/components/parameters/StartDate'
      - $ref: '#/components/parameters/EndDate'
      responses:
        '200':
          description: Successful alerts retrieval.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsResponse'
              examples:
                GetAlertsV3200Example:
                  summary: Default getAlertsV3 200 response
                  x-microcks-default: true
                  value:
                    recordType: alert
                    recordVersion: '3.0'
                    userId: 35d77a14-243f-4d5d-9f3f-3b3a7d7e9c3a
                    records:
                    - recordId: a1b2c3d4-aaaa-4bbb-9ccc-dddddddd0001
                      systemTime: '2026-04-30T03:14:00'
                      displayTime: '2026-04-29T20:14:00'
                      alertName: low
                      alertState: activeAlarming
                      displayDevice: iOS
                      transmitterGeneration: g7
                      transmitterId: 8GA1JK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    StartDate:
      name: startDate
      in: query
      required: true
      description: ISO 8601 timestamp for the start of the query window (UTC, no offset).
      schema:
        type: string
        format: date-time
        example: '2026-04-01T00:00:00'
    EndDate:
      name: endDate
      in: query
      required: true
      description: ISO 8601 timestamp for the end of the query window (UTC, no offset). Must be no more than 30 days after `startDate`.
      schema:
        type: string
        format: date-time
        example: '2026-04-30T23:59:59'
  schemas:
    AlertsResponse:
      type: object
      properties:
        recordType:
          type: string
          example: alert
        recordVersion:
          type: string
          example: '3.0'
        userId:
          type: string
        records:
          type: array
          items:
            $ref: '#/components/schemas/AlertRecord'
    AlertState:
      type: string
      enum:
      - unknown
      - inactive
      - activeSnoozed
      - activeAlarming
    TransmitterGeneration:
      type: string
      enum:
      - unknown
      - g4
      - g5
      - g6
      - g6+
      - dexcomPro
      - g7
    DateTime:
      type: string
      format: date-time
      description: ISO 8601 timestamp.
    AlertName:
      type: string
      enum:
      - unknown
      - high
      - low
      - rise
      - fall
      - outOfRange
      - urgentLow
      - urgentLowSoon
      - noReadings
      - fixedLow
    AlertRecord:
      type: object
      properties:
        recordId:
          type: string
        systemTime:
          $ref: '#/components/schemas/DateTime'
        displayTime:
          $ref: '#/components/schemas/DateTime'
        alertName:
          $ref: '#/components/schemas/AlertName'
        alertState:
          $ref: '#/components/schemas/AlertState'
        displayDevice:
          type: string
        transmitterGeneration:
          $ref: '#/components/schemas/TransmitterGeneration'
        transmitterId:
          type:
          - string
          - 'null'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Dexcom uses OAuth 2.0 authorization code flow. The only acceptable scope value is `offline_access`.
      flows:
        authorizationCode:
          authorizationUrl: https://api.dexcom.com/v2/oauth2/login
          tokenUrl: https://api.dexcom.com/v2/oauth2/token
          refreshUrl: https://api.dexcom.com/v2/oauth2/token
          scopes:
            offline_access: Long-lived access to the user's CGM data via refresh tokens.
