openapi: 3.0.3
info:
  title: Dexcom Developer Alerts Devices API
  version: v3
  description: The Dexcom Developer API provides authorized third-party applications with read access to a Dexcom user's continuous glucose monitoring (CGM) data. Resources include estimated glucose values (EGVs), calibrations, events, alerts, devices, and data range. The API uses OAuth 2.0 authorization code flow and exposes separate sandbox and production environments.
  contact:
    name: Dexcom Developer Program
    url: https://developer.dexcom.com/
  termsOfService: https://developer.dexcom.com/terms-of-use
  x-generated-from: documentation
  x-source-url: https://developer.dexcom.com/docs/dexcomv3/endpoint-overview
  x-last-validated: '2026-05-05'
servers:
- url: https://api.dexcom.com
  description: Production (United States)
- url: https://api.dexcom.eu
  description: Production (Europe / International)
- url: https://api.dexcom.jp
  description: Production (Japan)
- url: https://sandbox-api.dexcom.com
  description: Sandbox (Development)
security:
- OAuth2: []
tags:
- name: Devices
  description: Information about the user's CGM transmitters and display devices.
paths:
  /v3/users/self/devices:
    get:
      tags:
      - Devices
      operationId: getDevicesV3
      summary: Get Device Information
      description: Retrieve information about the user's Dexcom devices, including G6, G7, Dexcom ONE / ONE+ display devices and transmitters.
      responses:
        '200':
          description: Successful device retrieval.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesResponse'
              examples:
                GetDevicesV3200Example:
                  summary: Default getDevicesV3 200 response
                  x-microcks-default: true
                  value:
                    recordType: device
                    recordVersion: '3.0'
                    userId: 35d77a14-243f-4d5d-9f3f-3b3a7d7e9c3a
                    records:
                    - lastUploadDate: '2026-04-30T15:05:00'
                      transmitterId: 8GA1JK
                      transmitterGeneration: g7
                      displayDevice: iOS
                      displayApp: Dexcom G7
                      alertSchedules:
                      - alertScheduleSettings:
                          alertScheduleName: Default
                          isEnabled: true
                          isDefaultSchedule: true
                          startTime: 00:00
                          endTime: 00:00
                          daysOfWeek:
                          - sunday
                          - monday
                          - tuesday
                          - wednesday
                          - thursday
                          - friday
                          - saturday
                        alertSettings:
                        - alertName: high
                          value: 240
                          unit: mg/dL
                          snooze: 30
                          enabled: true
                        - alertName: low
                          value: 80
                          unit: mg/dL
                          snooze: 30
                          enabled: true
                        - alertName: urgentLow
                          value: 55
                          unit: mg/dL
                          snooze: 30
                          enabled: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AlertName:
      type: string
      enum:
      - unknown
      - high
      - low
      - rise
      - fall
      - outOfRange
      - urgentLow
      - urgentLowSoon
      - noReadings
      - fixedLow
    AlertSetting:
      type: object
      properties:
        alertName:
          $ref: '#/components/schemas/AlertName'
        value:
          type: number
        unit:
          $ref: '#/components/schemas/GlucoseUnit'
        snooze:
          type: integer
          description: Snooze interval in minutes.
        enabled:
          type: boolean
    TransmitterGeneration:
      type: string
      enum:
      - unknown
      - g4
      - g5
      - g6
      - g6+
      - dexcomPro
      - g7
    DevicesResponse:
      type: object
      properties:
        recordType:
          type: string
          example: device
        recordVersion:
          type: string
          example: '3.0'
        userId:
          type: string
        records:
          type: array
          items:
            $ref: '#/components/schemas/DeviceRecord'
    DateTime:
      type: string
      format: date-time
      description: ISO 8601 timestamp.
    DeviceRecord:
      type: object
      properties:
        lastUploadDate:
          $ref: '#/components/schemas/DateTime'
        transmitterId:
          type: string
          nullable: true
        transmitterGeneration:
          $ref: '#/components/schemas/TransmitterGeneration'
        displayDevice:
          type: string
          description: For example `iOS`, `android`, or `receiver`.
        displayApp:
          type: string
          nullable: true
        alertSchedules:
          type: array
          items:
            $ref: '#/components/schemas/AlertSchedule'
    AlertSchedule:
      type: object
      properties:
        alertScheduleSettings:
          type: object
          properties:
            alertScheduleName:
              type: string
            isEnabled:
              type: boolean
            isDefaultSchedule:
              type: boolean
            startTime:
              type: string
              description: Local time of day in `HH:mm` format.
            endTime:
              type: string
              description: Local time of day in `HH:mm` format.
            daysOfWeek:
              type: array
              items:
                type: string
                enum:
                - sunday
                - monday
                - tuesday
                - wednesday
                - thursday
                - friday
                - saturday
        alertSettings:
          type: array
          items:
            $ref: '#/components/schemas/AlertSetting'
    GlucoseUnit:
      type: string
      enum:
      - unknown
      - mg/dL
      - mmol/L
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Dexcom uses OAuth 2.0 authorization code flow. The only acceptable scope value is `offline_access`.
      flows:
        authorizationCode:
          authorizationUrl: https://api.dexcom.com/v2/oauth2/login
          tokenUrl: https://api.dexcom.com/v2/oauth2/token
          refreshUrl: https://api.dexcom.com/v2/oauth2/token
          scopes:
            offline_access: Long-lived access to the user's CGM data via refresh tokens.
